a:visited{
   color: blue;
}

.page-header{
  display: flex;
  justify-content: space-between;
  width: auto;
  height: fit-content;
}

.header-logo-link{
  display: flex;
  width: fit-content ;
}

.header-customers-links{
  display: flex;
  justify-content: space-between;
  width: 50%;
  align-self: center;
  position: relative;
}

.header-login-links{
  display: flex;
  justify-content: space-evenly;
}

.link-sign{
  margin-left: 5px;
}


.header-social-media-links{
  flex-wrap: wrap;  
 
}

.page-footer{
  display: flex;
  width: 100%;
  justify-content: space-between ;
  position: absolute;
  bottom: 0;
}

.footer-adress-container, .foooter-whats-container, .footer-phone-container{
  display: flex;
  align-self: center;
  align-items: center;
}

.footer-gym-address, .footer-gym-whats, .footer-gym-phone{
  margin-left: 5px;
}

.facebook-logo-link{
  margin-inline: 15px;
}

